<div class="header-top mobile-hide">
    <div class="container">
        <div class="wrapper flexitem">
            <div class="left">
                <ul class="flexitem main-links">
                    <!-- <li><a href="/admin">Admin</a></li> -->
                    <!-- <li><a href="/aboutUs">About Us</a></li> -->
                    <li><a href="/featuredproducts">Featured Products</a></li>
                    <li><a href="/trendingproducts">Trending Products</a></li>
                    <li><a href="/wishlist">Wishlist</a></li>
                </ul>
            </div>
            <div class="right">
                <ul class="flexitem">
                        <li class="main-links">
                        <!-- <li><a href="/login">Sign In</a></li> -->
                            <li><a href="/myAccount">My Account</a></li>
                            <li><a href="/logout">Logout</a></li>
                    <li><a href="#">INR<span class="icon-small"></i></span></a>
                        <ul>
                            <li class="current"><a href="#">INR</a></li>
                            <li><a href="#">USD</a></li>
                            <li><a href="#">EURO</a></li>
                            <li><a href="#">RUB</a></li>
                        </ul>
                    </li>
                    <li><a href="#">English<span class="icon-small"></span></a>
                        <ul>
                            <li class="current"><a href="#">English</a></li>
                            <li><a href="#">Telugu</a></li>
                            <li><a href="#">Hindi</a></li>
                            <li><a href="#">Tamil</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>