<div class="header-main mobile-hide">
    <div class="container">
        <div class="wrapper flexitem">
            <!-- <div class="left">
                <div class="dpt-cat">
                    <div class="dpt-head">
                        <div class="main-text">All Departments</div>
                        <div class="mini-text mobile-hide">Total 1059 Products</div>
                        <a href="#" class="dpt-trigger mobile-hide">
                            <i class="fa fa-bars three-line" aria-hidden="true"></i>
                            <i class="fa fa-times close-button" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="dpt-menu">
                        <ul class="second-links">
                            <li class="has-child mobiles">
                                <a href="#">
                                    <div class="icon-large"><i class="fa fa-mobile" aria-hidden="true"></i>
                                    </div>
                                    Mobiles
                                    <div class="icon-small"><i class="fa fa-angle-right"
                                            aria-hidden="true"></i></div>
                                </a>
                                <ul>
                                    <li><a href="#">iPhone</a></li>
                                    <li><a href="#">FeaturePhone</a></li>
                                    <li><a href="#">Android Phone</a></li>
                                    <li><a href="#">Tablets</a></li>
                                </ul>
                            </li>
                            <li class="has-child laptops">
                                <a href="#">
                                    <div class="icon-large"><i class="fa fa-laptop" aria-hidden="true"></i>
                                    </div>
                                    Laptops
                                    <div class="icon-small"><i class="fa fa-angle-right"
                                            aria-hidden="true"></i></div>
                                </a>
                                <ul>
                                    <li><a href="#">MacOs</a></li>
                                    <li><a href="#">Windows</a></li>
                                    <li><a href="#">Gaming</a></li>
                                    <li><a href="#">Linux</a></li>
                                </ul>
                            </li>

                            <li class="has-child wearables">
                                <a href="#">
                                    <div class="icon-large"><i class="fa fa-life-ring" aria-hidden="true"></i>
                                    </div>
                                    Wearables
                                    <div class="icon-small"><i class="fa fa-angle-right"
                                            aria-hidden="true"></i></div>
                                </a>
                                <ul>
                                    <li><a href="#">FitnessTracker</a></li>
                                    <li><a href="#">SmartWatch</a></li>
                                    <li><a href="#">HybridSmartWatch</a></li>
                                </ul>
                            </li>
                            <li class="has-child techaccessories">
                                <a href="#">
                                    <div class="icon-large"><i class="fa fa-microchip" aria-hidden="true"></i></div>
                                    TechAccessories
                                    <div class="icon-small"><i class="fa fa-angle-right"
                                            aria-hidden="true"></i></div>
                                </a>
                                <ul>
                                    <li><a href="#">Mobile-Chargers</a></li>
                                    <li><a href="#">StorageDevices</a></li>
                                    <li><a href="#">ScreenProtectors</a></li>
                                    <li><a href="#">Cases/Covers</a></li>
                                    <li><a href="#">PowerBanks</a></li>
                                </ul>
                            </li>
                            <li class="has-child audiostore">
                                <a href="#">
                                    <div class="icon-large"><i class="fa fa-headphones"
                                            aria-hidden="true"></i></div>
                                    AudioStore
                                    <div class="icon-small"><i class="fa fa-angle-right"
                                            aria-hidden="true"></i></div>
                                </a>
                                <div class="mega">
                                    <div class="flexcol">
                                        <div class="row">
                                            <h4><a href="#">HeadPhones</a></h4>
                                            <ul>
                                                <li><a href="#">HeadPhones</a></li>
                                                <li><a href="#">EarBuds</a></li>
                                                <li><a href="#">Wired Earphones</a></li>
                                                <li><a href="#">NeckBands</a></li>
                                                <li><a href="#">HeadSets</a></li>
                                            </ul>
                                        </div>
                                        <div class="row">
                                            <h4><a href="#">Speakers</a></h4>
                                            <ul>
                                                <li><a href="#">Bluetooth Speakers</a></li>
                                                <li><a href="#">SoundBars</a></li>
                                                <li><a href="#">HomeTheatre System</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </li>


                            <li class="has-child smartgadgets">
                                <a href="#">
                                    <div class="icon-large"><i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    SmartGadgets
                                    <div class="icon-small"><i class="fa fa-angle-right"
                                            aria-hidden="true"></i></div>
                                </a>
                                <ul>
                                    <li><a href="#">Smart Locks and Safes</a></li>
                                    <li><a href="#">Security Camera</a></li>
                                    <li><a href="#">Smart Plugs</a></li>
                                    <li><a href="#">Torches</a></li>
                                    <li><a href="#">Extension Boards</a></li>
                                </ul>
                            </li>
                            <li class="has-child healthgadgets">
                                <a href="#">
                                    <div class="icon-large"><i class="fa fa-medkit" aria-hidden="true"></i>
                                    </div>
                                    HealthGadgets
                                    <div class="icon-small"><i class="fa fa-angle-right"
                                            aria-hidden="true"></i></div>
                                </a>
                                <ul>
                                    <li><a href="#">ElectricMassagers</a></li>
                                    <li><a href="#">HealthMonitors</a></li>
                                    <li><a href="#">WeighingScales</a></li>
                                    <li><a href="#">Thermometers</a></li>
                                    <li><a href="#">Oximeters</a></li>
                                </ul>
                            </li>
                            <li class="has-child personalcare">
                                <a href="#">
                                    <div class="icon-large"><i class="fa fa-male" aria-hidden="true"></i>
                                    </div>
                                    Personal Care
                                    <div class="icon-small"><i class="fa fa-angle-right"
                                            aria-hidden="true"></i></div>
                                </a>
                                <ul>
                                    <li><a href="#">HairDryers</a></li>
                                    <li><a href="#">Trimmers</a></li>
                                    <li><a href="#">OralCare</a></li>
                                    <li><a href="#">HairStylers</a></li>
                                    <li><a href="#">Epilators</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                </div>
            </div> -->
            <div class="right">
                <div class="search-box">
                    <form action="/search" class="search" method="POST">
                        <span class="icon-large"><i class="fa fa-search" aria-hidden="true"></i></span>
                        <input type="search" name="search" id="search" placeholder="Search for products">
                        <button type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
