<div class="header-nav">
    <div class="container">
        <div class="wrapper flexitem">
            <a href="#" class="trigger desktop-hide"><span><i class="fa fa-bars"
                        aria-hidden="true"></i></span></a>
            <div class="left flexitem">
                <div class="logo">
                    <a href="/"><span class="circle"></span>GOG</a>
                </div>
                <nav class="mobile-hide">
                    <ul class="flexitem second-links">
                        <li><a href="/">Home</a></li>
                        <li><a href="/trendingproducts">Shop</a></li>
                        <li class="has-child">
                            <a href="/">Gadgets
                                <!-- <div class="icon-small"><i class="ri-arrow-down-s-line"></i> -->
                            </a>
                            <div class="mega" style="display: none;">
                                <div class="container">
                                    <div class="wrapper">
                                        <div class="flexcol">
                                            <div class="row">
                                                <h4>Audio Store</h4>
                                                <ul>
                                                    <li><a href="#">Head Phones</a></li>
                                                    <li><a href="#">Ear Buds</a></li>
                                                    <li><a href="#">Neck Bands</a></li>
                                                    <li><a href="#">True Wireless</a></li>
                                                    <li><a href="#">Sound Bars</a></li>
                                                    <li><a href="#">Home Theatre Systems</a></li>
                                                    <li><a href="#">BlueTooth Speakers</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="flexcol">
                                            <div class="row">
                                                <h4>Mobiles/Laptops</h4>
                                                <ul>
                                                    <li><a href="#">Smart Phones</a></li>
                                                    <li><a href="#">Feature Phones</a></li>
                                                    <li><a href="#">Mobile Accessories</a></li>
                                                    <li><a href="#">Intel Based Laptops</a></li>
                                                    <li><a href="#">Mac Book</a></li>
                                                    <li><a href="#">Laptop Accessories</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="flexcol">
                                            <div class="row">
                                                <h4>Health Care Devices</h4>
                                                <ul>
                                                    <li><a href="#">Electric Massagers</a></li>
                                                    <li><a href="#">Health Monitors</a></li>
                                                    <li><a href="#">Streamers and Nebulizers</a></li>
                                                    <li><a href="#">Weighing Scales</a></li>
                                                    <li><a href="#">Thermometers</a></li>
                                                    <li><a href="#">Oximeters</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="flexcol">
                                            <div class="row">
                                                <h4>Top Brands</h4>
                                                <ul class="gadget-brands">
                                                    <li><a href="#">Samsung</a></li>
                                                    <li><a href="#">OnePlus</a></li>
                                                    <li><a href="#">Apple</a></li>
                                                    <li><a href="#">Oppo</a></li>
                                                    <li><a href="#">Xiami</a></li>
                                                    <li><a href="#">INFINITY</a></li>
                                                    <li><a href="#">JBL</a></li>
                                                    <li><a href="#">boAt</a></li>
                                                    <li><a href="#">Nokia</a></li>
                                                    <li><a href="#">Intel</a></li>
                                                </ul>
                                                <a href="#" class="view-all">View all brands</a>
                                            </div>
                                        </div>
                                        <div class="flexcol products">
                                            <div class="row">
                                                <div class="media">
                                                    <div class="thumbnail object-cover"><img
                                                            src="/images/earphones/apple/asa20.webp" alt="">
                                                    </div>
                                                </div>
                                                <div class="text-content">
                                                    <h4>Most Wanted!</h4>
                                                    <a href="#featuredproducts" class="primary-button">Order Now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#">Health Care
                                <div class="fly-item"><span>New!</span></div>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="right">
                <ul class="flexitem second-links">
                    <li class="mobile-hide">
                        <a href="/wishlist">
                            <div class="icon-large">
                                <i class="fa-regular fa-heart"></i>
                                <!-- <div class="fly-item"><span class="item-number">0</span></div> -->
                            </div>
                        </a>
                    </li>
                    <li class="iscart">
                        <a href="/shopping-cart">
                            <div class="icon-large">
                                <i class="fa fa-shopping-cart"></i>
                                <!-- <div class="fly-item"><span class="item-number">5</span></div> -->
                            </div>
                            <!-- <div class="icon-text">
                                <div class="mini-text">Total</div>
                                <div class="cart-total">INR 64,847</div>
                            </div> -->
                        </a>
                        <!-- <div class="mini-cart">
                            <div class="content">
                                <div class="cart-head">
                                    5 items in cart
                                </div>
                                <div class="cart-body">
                                    <ul class="product-mini">
                                        <li class="item">
                                            <div class="thumbnail object-cover">
                                                <a href="#"><img src="images/Laptops/Apple/la20.avif" alt=""></a>

                                            </div>
                                            <div class="item-content">
                                                <p><a href="#">Apple laptop</a></p>
                                                <span class="price">
                                                    <span>INR. 1,00,000</span>
                                                    <span class="fly-item"><span>2x</span></span>
                                                </span>
                                            </div>
                                            <a href="" class="item-remove"><i class="ri-close-line"></i></a>
                                        </li>
                                        <li class="item">
                                            <div class="thumbnail object-cover">
                                                <a href="#"><img src="images/Laptops/Apple/la20.avif" alt=""></a>

                                            </div>
                                            <div class="item-content">
                                                <p><a href="#">Apple laptop</a></p>
                                                <span class="price">
                                                    <span>INR. 1,00,000</span>
                                                    <span class="fly-item"><span>2x</span></span>
                                                </span>
                                            </div>
                                            <a href="" class="item-remove"><i class="ri-close-line"></i></a>
                                        </li>
                                        <li class="item">
                                            <div class="thumbnail object-cover">
                                                <a href="#"><img src="images/Laptops/Apple/la20.avif" alt=""></a>

                                            </div>
                                            <div class="item-content">
                                                <p><a href="#">Apple laptop</a></p>
                                                <span class="price">
                                                    <span>INR. 1,00,000</span>
                                                    <span class="fly-item"><span>2x</span></span>
                                                </span>
                                            </div>
                                            <a href="" class="item-remove"><i class="ri-close-line"></i></a>
                                        </li>
                                        <li class="item">
                                            <div class="thumbnail object-cover">
                                                <a href="#"><img src="/images/Laptops/Apple/la20.avif" alt=""></a>

                                            </div>
                                            <div class="item-content">
                                                <p><a href="#">Awesome bed foe a couple</a></p>
                                                <span class="price">
                                                    <span>INR. 1,00,000</span>
                                                    <span class="fly-item"><span>2x</span></span>
                                                </span>
                                            </div>
                                            <a href="" class="item-remove"><i class="ri-close-line"></i></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="cart-footer">
                                    <div class="subtotal">
                                        <p>subtotal</p>
                                        <p><strong>INR. 5,00,000</strong></p>
                                    </div>
                                    <div id="actions" class="actions">
                                        <a href="/checkout" class="primary-button">checkout</a>
                                        <a href="/shopping-cart" class="secondary-button">view cart</a>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
