<!doctype html>
<html lang="en">
<%- include('includes/head'); %>
<body>
  <h1 class="text-center">404 Error! Page Not found!</h1>
    <img src="/images/404.jpg" class="img-fluid" alt="not found">
</body>
</html>