
/* Responsive */
@media screen and (min-width: 481px) {
  .products.main .item {
      flex: 0 0 50%;
  }

  /* page single */
  .products.one .big-image {
      margin-bottom: 2em;
  }

  .products.one .image-show {
      height: 680px;
  }

  .products.one .thumbnail-show {
      height: 160px;
  }

  .products.mini,
  .banner .row 
  .widgets .row
  .checkout .item 
  {
      flex: 0 0 50%;
      flex-direction: column;
  }

}

@media screen and (min-width: 768px) {
  .products .price .current {
      font-size: 1.25em;
  }

  .products.mini,
  .banner .row 
  .widgets .row
  .checkout .item 
  {
      flex: 0 0 50%;
      flex-direction: column;
  }

  .products.main .item {
      flex: 0 0 33.3333%;
  }

  .products.one .row,
  .checkout .item
  {
      flex: 0 0 50%;
      width: 50%;
  }

  .product-categories .row {
      flex: 0 0 50%;
  }
.checkout .item.right{
  padding: 5em 0 0 5em;
}
}

/* page checkout */

.checkout{
  margin: 5em 0
}

.checkout .left{
  padding: 4em;
  background-color: var(--light-bg-color) ;
  box-shadow: 0 15px 70px -8px rgb(0 0 0 / 20%) ;
}
.checkout .right{
  padding: 4em;
  background-color: var(--light-bg-color) ;
  box-shadow: 0 15px 70px -8px rgb(0 0 0 / 20%) ;
}

.checkout .item {
  width:var(--percent100);

}

.checkout .left h1{
  font-weight: var(--fw3);
  margin-bottom: 1.5em; 
}

.checkout .left label{
  font-size: var(--font-small);
  text-transform: capitalize;
  position: relative;
  width: fit-content;
}

.checkout .left label span{
  position: absolute;
  top: 0;
  right: -10px;
  width: 6px;
  height: 6px;
  background-color: var(--primary-color);
  border-radius: var(--percent50);
}

.checkout p :where(input, textare){
  background-color: rgb(225 225 225 / 50%);
  font-family: inherit;
}

.checkout p input:focus{
  background-color: var(--white-color);
}

.checkout p.checkset{
  flex-direction: row;
}

.checkout p.checkset label{
  margin: 0 0 0 1em;
  cursor: pointer;

}

.checkout h2{
  padding-top: 0.5em;
  margin-bottom: 0.75em;
  border-top: 1px solid var(--border-color);
}

.primary-checkout button{
  display: block;
  border: 0;
  outline: 0;
  cursor: pointer;
  width: var(--percent100);
  max-width: 288px;
  font-size: 1.2em;
  margin: 3em auto 0;
}

.checkout .item.right{
  padding: 5em;
}

.summary-totals ul{
  max-width: 335px;
  line-height: 2;
  margin-bottom: 3em;
  padding-bottom: 2em;
  border-bottom: 1px solid var(--secondary-dark-color);
}

.summary-totals li{
  display: flex;
  justify-content: space-between;
  font-weight: var(--fw5);
}

.summary-totals li strong{
  font-size: 2.5em;
  line-height: 1;
}

.summary-totals li:last-child{
  margin-top: 2em;
}
.summary-totals li:not(:last-child) span:first-child{
  color: var(--light-text-color);
}

.summary-order .price{
  display: flex;
  flex-direction: column;
  color: var(--light-text-color);
  font-size: 0.85em;
  margin-top: 0.5em;

}

.order-confirmation {
  display: none;
  opacity: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4CAF50;
  color: #fff;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
  font-size: larger;
}

.order-confirmation.transition {
  transition: opacity 0.5s ease;
}


